@font-face {
font-family: "DAGGERSQUARE";
src: url('DAGGERSQUARE.otf');
}

/* Basic style */
MainWindow ,End,Custom {
    background-color:@backgroundColor;
    color:@buttonTextColor;
    font-size: @labelFontSize;
    font-family: "DAGGERSQUARE";
}
.customLabel{
color:@buttonTextColor;
font-size: @labelFontSize;
 font-family: "DAGGERSQUARE";
}

.title, QGroupBox {
        color:@buttonTextColor;
        font-size: @titleFontSize;
        font-family: "DAGGERSQUARE";
        qproperty-alignment: AlignCenter;
}

.mainTitle{
        color:@buttonTextColor;
        font-size: @mainTitleFontSize;
        font-family: "DAGGERSQUARE";
        qproperty-alignment: AlignCenter;
        /*background-color:@backgroundColor;*/
}

QPushButton {
        background-color: @frameColor;
        color:@buttonTextColor;
        font-size: @labelFontSize;
        font-family: "DAGGERSQUARE";
}

QSpinBox {
        height:@spinboxFontSize;
        color:@buttonTextColor;
        background-color:@spinboxColor;
        font-size:@spinboxFontSize
}
QSpinBox::up-button,QSpinBox::down-button{
        height: 35px;
        width: 60px;
}

 .timerWindow {

        background-color:@preparationColor;
}

.timer {
        color:white;
        font-family: "DAGGERSQUARE";
        font-size: @timerFontSize;

}

.mainwindow {
        background-color:@backgroundColor
}
